h3 {{post.title}}
h4 Author: {{post.author}}
  hr(width='200px', align ='left')
h3 Body:
div{{post.body}}
  hr(width='600px', align ='left')

h4 Date Created: {{post.created  | date}}
h4 Date Updated: {{post.updated}}
